<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

<div class="container">
    <h1 class="mt-5 mb-4">Book List</h1>
    <script th:if="${accessDenied}" th:inline="javascript">
        function showAccessDeniedAlert() {
            alert('You do not have permission to access this page.');
        }
    </script>
    
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Year</th>
                <th>Price</th>
                <th>Category</th>
                <th th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.publication_year}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.category?.name}"></td>
                <td>
                    <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
                    <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-primary">Edit</a> 
                </td>
            </tr>
        </tbody>
    </table>
    <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" href="/add" class="btn btn-success">Add Book</a>
    <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" href="/saveCategory" class="btn btn-success">Add Category</a>
    <script th:if="${!#authorization.expression('hasAuthority(''ADMIN'')')}" th:inline="javascript">
        document.querySelectorAll('.btn-danger, .btn-primary, .btn-success').forEach(function(button) {
            button.onclick = function() {
                showAccessDeniedAlert();
                return false;
            };
        });
    </script>
</div>
</body>
</html>
